{% assign experience = site.data.data.experience %}
{% if experience %}
<section class="experience">
    <h2 class="title">Experience</h2>
    {% for exp in experience %}
        <div class="experience-item">
            <div class="role">
                {{exp.role}}
            </div>
            <div class="company">
                {{exp.company}} 
                <span class="time">{{exp.time}}</span>
            </div> 
            <div class="details" style="font-size: inherit; line-height: 1.5;">
                {% assign sentences = exp.details | split: '. ' %}
                {% for sentence in sentences %}
                {% if sentence != "" %}
                <div style="margin-bottom: 5px;">- {{ sentence }}.</div>
                {% endif %}
                {% endfor %}
            </div>
            <p class="technologies" style="font-size: inherit;">{{exp.technologies_used}}</p>
        </div>
    {% endfor %}
</section>
{% endif %}
