<head>
    <!-- Styles -->
    <link rel="stylesheet" href="{{'/assets/css/main.css' | absolute_url}}">
   <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata:400,700" type="text/css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap">
    
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <style>
    .btn {
        border: none;
        background-color: inherit;
        padding: 1px 3px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
    }

    .btn:hover {background: #eee;}

    .isca {color: green; background: #a3f291;}
    .isca:hover {background: #7db570;}

    </style>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">
    
    <title>{{site.title}}</title>
</head>
