{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="projects">
    <h2 class="title">Projects</h2>
    {% for p in projects %}
        <div class="project">
            <div class="project-link">
                <a href="{{p.link}}">
                    {{p.title}}
                </a>
                {% if p.time %}
                <span class="time">{{p.time}}</span>
                {% endif %}
            </div>
            <ul class="details">
                {% for detail in p.details %}
                    <li>{{detail}}</li>
                {% endfor %}
            </ul>
            {% if p.technologies_used %}
            <p class="technologies">{{p.technologies_used}}</p>
            {% endif %}
        </div>
    {% endfor %}
</section>
{% endif %}
