{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="projects">
    <h2 class="title">Projects</h2>
    {% for p in projects %}
        <div class="project">
            <div class="project-header">
                <a class="project-link" href="{{ p.link }}">
                    {{ p.title }}
                </a>
                <span class="time" style="margin-left: 15px;">{{ p.time }}</span>
            </div>
            <div class="details">
                {% assign sentences = p.details | split: ' - ' %}
                {% for sentence in sentences %}
                <p>- {{ sentence }}</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</section>
{% endif %}
