.experience {
    .title {
        @include header;
    }
    .experience-item {
        .role {
            @include sub-header;
        }
        .company {
            @include body-text;
            font-weight: bold;
            .time {
                float: right;
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
        .details {
            @include body-text;
            ul {
                list-style-type: disc; // Add bullet points
                margin-left: 20px; // Indent the bullet points
                padding-left: 20px; // Ensure proper alignment
                li {
                    font-size: inherit; // Inherit font size from parent
                    color: inherit; // Inherit color from parent
                    margin-bottom: 5px; // Add spacing between bullet points
                }
            }
        }
        .technologies {
            @include body-text;
        }
    }
}
