.projects {
    .title {
        @include header;
        font-weight: bold;
    }
    .project {
        margin-bottom: 20px;
        .project-link {
            @include body-text;
            font-weight: bold;
        }
        .details {
            @include body-text;
        }
    }
}
