.projects {
    .title {
        @include header;
        font-weight: bold;
    }
    .project {
        margin-bottom: 20px;

        .project-link {
            @include body-text;
            font-weight: bold;
            color: black; // Explicitly set the link color to black
            text-decoration: none; // Remove underline

            &:hover,
            &:focus {
                color: black; // Keep it black on hover and focus
                text-decoration: underline; // Optional: Add underline for interactivity
            }
        }

        .details {
            @include body-text;

            ul {
                list-style-type: disc; // Add bullet points
                margin-left: 20px; // Indent the bullet points
                padding-left: 20px; // Ensure proper alignment
                li {
                    font-size: inherit; // Inherit font size from parent
                    color: inherit; // Inherit color from parent
                    margin-bottom: 5px; // Add spacing between bullet points
                }
            }
        }

        .time {
            float: right; // Align time to the right
            color: var(--fg-color-title-sm);
            font-weight: 100;
        }
    }
}
